<!DOCTYPE html>
<html>
<head>
  <title>Devon Boyer | iOS Developer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="generator" content="Webflow"><link rel="stylesheet" type="text/css" href="https://daks2k3a4ib2z.cloudfront.net/5685bd11172915f3167120b6/css/devonboyer.webflow.2fe0df2e4.css">
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script type="text/javascript" src="https://daks2k3a4ib2z.cloudfront.net/0globals/modernizr-2.7.1.js"></script>
	<link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png">

	<!-- Fonts -->
	<%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700', media: 'all', 'data-turbolinks-track' => true %>

</head>
<body>

<%= yield %>

</body>
</html>
